.git
.gitignore
.gitlab
.gitlab-ci.yml
.pytest.ini
.coveragerc
.env
.env.*
!.env.template
__pycache__
*.pyc
*.pyo
*.egg-info
.venv
venv
venv_*
.mypy_cache
.ruff_cache
.coverage
reports/
output/
*.zip
*.tar.gz
node_modules
.idea
.vscode
*.md
!requirements.txt
infrastructure/
difflabs/iac/
eugene/saved_queries/
tests/data/
docs/img/
