EUGENE_MCP_SERVER_URL=https://internal-eugene-search-alb-616664632.us-east-1.elb.amazonaws.com:8443/mcp
# EUGENE_MCP_SERVER_URL=http://localhost:8001/mcp
EUGENE_AGENT_ALLOWLIST=Damian.Knopp@cslbehring.com|Sterling.Foster@cslbehring.com|Paul.Disney@cslbehring.com
EUGENE_TENANT_ID=f8645748-68c6-4eec-bd61-c71341a6ed7d
EUGENE_CLIENT_ID=ff58ded5-c309-4cc8-ae6a-3b7157b83879
EUGENE_CLIENT_SECRET=<redacted>

ENVIRONMENT=local
OPENAI_API_KEY=sk-proj-<redacted>