MODEL_ID="anthropic.claude-sonnet-4-5-20250929-v1:0"
MODEL_TEMP=.6
IS_GLOBAL_MODEL_ROUTING=true
MODEL_MAX_TOKENS=32_000

# to run the eval scripts only, you may need to set these in the env
OPENAI_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=