EUGENE_TENANT_ID=<redacted>
EUGENE_CLIENT_ID=<redacted>
EUGENE_CLIENT_SECRET=<redacted>
EUGENE_ISSUER=https://eugene.ai.cslg1.cslg.net/${EUGENE_TENANT_ID}
EUGENE_AUDIENCE=api://eugene/${EUGENE_CLIENT_ID}
EUGENE_API_BASE="https://internal-eugene-search-alb-616664632.us-east-1.elb.amazonaws.com"